name: Arduino Size Deltas

on:
  workflow_call:
    inputs:
      reports-path:
        required: false
        type: string
        default: sketches-reports

jobs:
  compute:
    runs-on: ubuntu-latest
    steps:
      - name: Download sketches reports artifact
        uses: actions/download-artifact@v7
        with:
          pattern: arduino-deltas-*
          path: ${{ inputs.reports-path }}

      - uses: 2bndy5/arduino-report-size-deltas@5d226f8792e1cca65534f3697748af289138af25 # v1.0.4
        with:
          sketches-reports-source: ${{ inputs.reports-path }}
