name: Run PlatformIO in CI

on:
  workflow_call:
    inputs:
      example-path:
        required: true
        type: string
      board-id:
        required: true
        type: string
      lib-deps:
        required: false
        type: string
        description: |
          A space delimited string of lib names to install as extra dependencies.
          UPDATE: Each lib specified should be prefixed with a `-l ` like so: `-l <lib_spec>`.
             This also allows for exra tools/frameworks/etc. See docs at
             https://docs.platformio.org/en/latest/core/userguide/pkg/cmd_install.html
          NOTE: RF24 dependencies are automatically installed accordingly.
      rf24-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24 lib dependency
      rf24network-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24Network lib dependency
      rf24mesh-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24Mesh lib dependency


jobs:
  run_pio:
    runs-on: ubuntu-latest
    steps:
      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # - name: Cache PlatformIO
      #   uses: actions/cache@v4
      #   with:
      #     path: |
      #       ~/.cache/pip
      #       ~/.platformio/.cache
      #     key: ${{ runner.os }}-pio

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: actions/checkout@v6

      - name: get lib info
        id: lib-info
        run: |
          lib_name=$(echo ${{ github.repository }} | sed -e 's;.\+/;;')
          rf24_deps=''
          if [[ $lib_name == 'RF24Mesh' ]]; then
            rf24_deps=RF24Network
          elif [[ $lib_name == 'RF24Ethernet' ]]; then
            rf24_deps='RF24Network;RF24Mesh'
          fi
          echo "rf24-deps=$rf24_deps" >> $GITHUB_OUTPUT

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Install extra dependencies
        if: inputs.lib-deps != ''
        run: pio pkg install -g ${{ inputs.lib-deps }}

      - name: Install RF24Mesh library dependency
        if: contains(steps.lib-info.outputs.rf24-deps, 'RF24Mesh') && !endsWith(github.repository, 'RF24Mesh')
        run: pio pkg install -g -f --skip-dependencies -l 'https://github.com/nRF24/RF24Mesh.git#${{ inputs.rf24mesh-ref }}'

      - name: Install RF24Network library dependency
        if: contains(steps.lib-info.outputs.rf24-deps, 'RF24Network') && !endsWith(github.repository, 'RF24Network')
        run: pio pkg install -g -f --skip-dependencies -l 'https://github.com/nRF24/RF24Network.git#${{ inputs.rf24network-ref }}'

      - name: Install RF24 library dependency
        if: endsWith(github.repository, 'RF24') == false
        run: pio pkg install -g -f --skip-dependencies -l 'https://github.com/nRF24/RF24.git#${{ inputs.rf24-ref }}'

      - name: Run PlatformIO
        run: pio ci --lib="." --board=${{ inputs.board-id }}
        env:
          PLATFORMIO_CI_SRC: ${{ inputs.example-path }}
