name: Run PlatformIO in CI

on:
  workflow_call:
    inputs:
      example-path:
        required: true
        type: string
      board-id:
        required: true
        type: string
      lib-deps:
        required: false
        type: string
        description: |
          A space delimited string of lib names to install as extra dependencies.
          UPDATE: Each lib specified should be prefixed with a `-l ` like so: `-l <lib_spec>`.
             This also allows for extra tools/frameworks/etc. See docs at
             https://docs.platformio.org/en/latest/core/userguide/pkg/cmd_install.html
          NOTE: RF24 dependencies are automatically installed accordingly.
      rf24-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24 lib dependency
      rf24network-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24Network lib dependency
      rf24mesh-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24Mesh lib dependency

permissions: {}

jobs:
  run_pio:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: |-
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio-${{ inputs.board-id }}-${{ inputs.example-path }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Get lib info
        id: lib-info
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        run: |-
          rf24_deps=''
          if [[ "${REPO_NAME}" == 'RF24Mesh' ]]; then
            rf24_deps=RF24Network
          elif [[ "${REPO_NAME}" == 'RF24Ethernet' ]]; then
            rf24_deps='RF24Network;RF24Mesh'
          fi
          echo "rf24-deps=$rf24_deps" >> "${GITHUB_OUTPUT}"

      - name: Install PlatformIO
        run: pip install --upgrade platformio

      - name: Install extra dependencies
        if: inputs.lib-deps != ''
        env:
          LIB_DEPS: ${{ inputs.lib-deps }}
        run: pio pkg install -g ${LIB_DEPS}

      - name: Install RF24Mesh library dependency
        if: contains(steps.lib-info.outputs.rf24-deps, 'RF24Mesh') && !endsWith(github.repository, 'RF24Mesh')
        env:
          RF24MESH_REF: ${{ inputs.rf24mesh-ref }}
        run: >-
          pio pkg install -g -f --skip-dependencies
          -l "https://github.com/nRF24/RF24Mesh.git#${RF24MESH_REF}"

      - name: Install RF24Network library dependency
        if: contains(steps.lib-info.outputs.rf24-deps, 'RF24Network') && !endsWith(github.repository, 'RF24Network')
        env:
          RF24NETWORK_REF: ${{ inputs.rf24network-ref }}
        run: >-
          pio pkg install -g -f --skip-dependencies
          -l "https://github.com/nRF24/RF24Network.git#${RF24NETWORK_REF}"

      - name: Install RF24 library dependency
        if: endsWith(github.repository, 'RF24') == false
        env:
          RF24_REF: ${{ inputs.rf24-ref }}
        run: >-
          pio pkg install -g -f --skip-dependencies
          -l "https://github.com/nRF24/RF24.git#${RF24_REF}"

      - name: Run PlatformIO
        env:
          PLATFORMIO_CI_SRC: ${{ inputs.example-path }}
          BOARD: ${{ inputs.board-id }}
        run: pio ci --lib="." --board="${BOARD}"
