name: Build lib with Cmake

on:
  workflow_call:
    inputs:
      driver:
        required: false
        type: string
        default: SPIDEV
      compiler:
        required: false
        type: string
        default: default
      usr-dir:
        required: false
        default: local
        type: string
      examples-path:
        required: false
        type: string
      deploy-release:
        required: false
        type: boolean
      py-wrapper-path:
        required: false
        type: string
      rf24-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24 lib dependency
      rf24network-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24Network lib dependency
      rf24mesh-ref:
        required: false
        type: string
        default: master
        description: git ref of the RF24Mesh lib dependency

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      RF24_DRIVER: ${{ inputs.driver }}
      # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
      # This env var is supported by CMake as of v3.22+
      CMAKE_BUILD_TYPE: Release
    steps:
      # - name: Provide toolchain (for x86_64)
      #   if: ${{ inputs.compiler == 'x86_64' }}
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install gcc-x86-64-linux-gnux32 g++-x86-64-linux-gnux32

      # - name: Provide toolchain (for i686)
      #   if: ${{ inputs.compiler == 'i686' }}
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install gcc-i686-linux-gnu g++-i686-linux-gnu

      - name: Provide toolchain (for arm64)
        if: ${{ inputs.compiler == 'arm64' }}
        run: |
          sudo apt-get update
          sudo apt-get install gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Provide toolchain (for armhf)
        if: ${{ inputs.compiler == 'armhf' }}
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf

      - name: Get repo info
        id: lib-info
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        run: |-
          lib_deps=''
          if [[ "${REPO_NAME}" == 'RF24Mesh' ]]; then
              lib_deps='RF24Network'
          elif [[ "${REPO_NAME}" == 'RF24Gateway' ]]; then
              lib_deps='RF24Network;RF24Mesh'
          fi
          echo "deps=$lib_deps" >> "${GITHUB_OUTPUT}"

      - name: Checkout RF24
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: nRF24/RF24
          path: RF24
          ref: ${{ inputs.rf24-ref }}

      - name: Provide MRAA
        if: inputs.driver == 'MRAA'
        env:
          # this env var is supported as of CMake v3.29+
          CMAKE_INSTALL_PREFIX: /usr/${{ inputs.usr-dir }}
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: ${{ github.workspace }}/RF24/cmake/toolchains/${{ inputs.compiler }}.cmake
        run: |-
          git clone https://github.com/intel-iot-devkit/mraa.git
          cd mraa
          mkdir build
          cd build
          cmake .. -D BUILDSWIGNODE=OFF
          sudo make install

      - name: Provide WiringPi
        if: inputs.driver == 'wiringPi' && inputs.compiler == 'default'
        run: |-
          git clone https://github.com/WiringPi/WiringPi
          cd WiringPi
          ./build

      # - name: Provide WiringPi (with toolchain compilers)
      #   if: inputs.driver == 'wiringPi' && inputs.compiler != 'default'
      #   env:
      #     CC: /usr/bin/${{ inputs.usr-dir }}-gcc
      #     CFLAGS: "-I/usr/${{ inputs.usr-dir }}"
      #   run: |
      #     git clone https://github.com/WiringPi/WiringPi
      #     cd WiringPi
      #     ./build

      - name: Provide pigpio
        if: inputs.driver == 'pigpio'
        env:
          # this env var is supported as of CMake v3.29+
          CMAKE_INSTALL_PREFIX: /usr/${{ inputs.usr-dir }}
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: ${{ github.workspace }}/RF24/cmake/toolchains/${{ inputs.compiler }}.cmake
        run: |-
          git clone https://github.com/joan2937/pigpio.git
          cd pigpio
          git fetch --tags
          latestTag=$(git describe --tags `git rev-list --tags --max-count=1`)
          git checkout $latestTag
          mkdir build
          cd build
          cmake .. 
          make
          sudo make install

      - name: Build & install RF24
        if: endsWith(github.repository, 'RF24') == false
        working-directory: RF24
        env:
          # this env var is supported as of CMake v3.29+
          CMAKE_INSTALL_PREFIX: /usr/${{ inputs.usr-dir }}
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: cmake/toolchains/${{ inputs.compiler }}.cmake
        run: |-
          mkdir build
          cd build
          cmake ..
          sudo make install

      - name: Checkout RF24Network
        if: contains(steps.lib-info.outputs.deps, 'RF24Network') || endsWith(github.repository, 'RF24Network')
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: nRF24/RF24Network
          path: RF24Network
          ref: ${{ inputs.rf24network-ref }}

      - name: Build & install RF24Network
        if: contains(steps.lib-info.outputs.deps, 'RF24Network')
        working-directory: RF24Network
        env:
          # these env vars are supported as of CMake v3.29+
          CMAKE_INSTALL_PREFIX: /usr/${{ inputs.usr-dir }}
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: cmake/toolchains/${{ inputs.compiler }}.cmake
        run: |-
          mkdir build
          cd build
          cmake ..
          sudo make install

      - name: Checkout RF24Mesh repo
        if: contains(steps.lib-info.outputs.deps, 'RF24Mesh') || endsWith(github.repository, 'RF24Mesh')
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: nRF24/RF24Mesh
          path: RF24Mesh
          ref: ${{ inputs.rf24mesh-ref }}

      - name: Build & install RF24Mesh
        working-directory: RF24Mesh
        if: contains(steps.lib-info.outputs.deps, 'RF24Mesh')
        env:
          # these env vars are supported as of CMake v3.29+
          CMAKE_INSTALL_PREFIX: /usr/${{ inputs.usr-dir }}
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: cmake/toolchains/${{ inputs.compiler }}.cmake
        run: |-
          mkdir build
          cd build
          cmake ..
          sudo make install

      - name: Checkout RF24Gateway repo
        if: endsWith(github.repository, 'RF24Gateway')
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: nRF24/RF24Gateway
          fetch-depth: 0  # for version number fetching in cmake
          path: RF24Gateway
          ref: ${{ github.sha }}

      - name: Create CMake build environment
        env:
          BUILD_DIR: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        run: cmake -E make_directory "${BUILD_DIR}"

      - name: Configure lib
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        env:
          # these env vars are supported as of CMake v3.29+
          CMAKE_INSTALL_PREFIX: /usr/${{ inputs.usr-dir }}
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: cmake/toolchains/${{ inputs.compiler }}.cmake
        run: cmake ..

      - name: Build lib
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        run: cmake --build .

      - name: Install lib
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        run: sudo cmake --install .

      - name: Package lib
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        run: sudo cpack

      - name: Save artifact
        uses: actions/upload-artifact@v5
        with:
          name: pkg_${{ github.event.repository.name }}_${{ inputs.compiler }}_${{ inputs.driver }}
          path: |-
            ${{ github.workspace }}/${{ github.event.repository.name }}/build/pkgs/*.deb
            ${{ github.workspace }}/${{ github.event.repository.name }}/build/pkgs/*.rpm

      - name: Clean build environment
        if: inputs.examples-path != ''
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        run: sudo rm -r ./*

      - name: Provide ncurses
        # only done for native compilation because cross-compiling ncurses from
        # source is prone to linker errors and takes a long time.
        if: inputs.examples-path != '' && inputs.compiler == 'default'
        # This script assumes that any examples using ncurses reside in a 'ncurses' subdirectory
        # as is the case w/ RF24Mesh, RF24Gateway, and any new ncurses examples going forward.
        env:
          EXAMPLES_PATH: ${{ github.workspace }}/${{ github.event.repository.name }}/${{ inputs.examples-path }}/ncurses
        run: |-
          if [[ -d "${EXAMPLES_PATH}" ]]; then
            sudo apt-get install libncurses5-dev
          else
            echo "ncurses is not needed for these examples"
          fi

      - name: Configure examples
        if: inputs.examples-path != ''
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        env:
          # this env var is supported as of CMake v3.21+
          CMAKE_TOOLCHAIN_FILE: ../cmake/toolchains/${{ inputs.compiler }}.cmake
          EXAMPLES_PATH: ../${{ inputs.examples-path }}
        run: cmake "${EXAMPLES_PATH}"

      - name: Build examples
        if: inputs.examples-path != ''
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/build
        # doesn't build the RF24Mesh_Ncurses_Master example because we haven't cross-compiled it in this workflow
        run: cmake --build .

      - name: Provide python wrapper prerequisites
        if: inputs.compiler == 'default' && inputs.py-wrapper-path != ''
        # python3-rpi.gpio is only required for physical hardware (namely the IRQ example)
        run: sudo apt-get install python3-dev libboost-python-dev python3-setuptools

      - name: Create alias symlink to libboost_python3*.so
        if: inputs.compiler == 'default' && inputs.py-wrapper-path != ''
        id: symlink-boost-python
        run: |-
          arch=$(ls /usr/lib/gcc | tail -1)
          arch_libs=/usr/lib/$arch
          boost_python_so=$(ls $arch_libs/libboost_python3*.so | tail -1)
          py_ver=$(echo $boost_python_so | sed -E 's/.*libboost_python([0-9])([0-9]+)\.so/\1.\2/')
          echo "python version used by boost.python is $py_ver"
          echo "python-version=$py_ver" >> "${GITHUB_OUTPUT}"
          sudo ln -s $boost_python_so $arch_libs/libboost_python3.so

      - name: Set up Python version used by boost.python
        if: inputs.compiler == 'default' && inputs.py-wrapper-path != ''
        uses: actions/setup-python@v6
        with:
          python-version: ${{ steps.symlink-boost-python.outputs.python-version }}

      - name: Install python wrapper
        if: inputs.compiler == 'default' && inputs.py-wrapper-path != ''
        working-directory: ${{ github.workspace }}/${{ github.event.repository.name }}/${{ inputs.py-wrapper-path }}
        run: python3 -m pip install .

  upload-release-assets:
    runs-on: ubuntu-latest
    needs: [build]
    if: inputs.deploy-release
    permissions:
      # allow uploading release assets
      contents: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: pkg_${{ github.event.repository.name }}_*
          path: ./artifacts
          merge-multiple: true

      - name: Upload Release assets
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}          
        run: |-
          files=$(ls artifacts/*.deb artifacts/*.rpm)
          gh release upload "${TAG}" ${files}
