name: Build Docs

on:
  workflow_call:
    inputs:
      doxygen-version:
        required: false
        type: string
        default: '1.9.6'

permissions: {}

jobs:
  get-info:
    runs-on: ubuntu-latest
    outputs:
      lib-version: ${{ steps.fetch-repo.outputs.release }}
    steps:
      - name: Checkout repo w/o history
        if: endsWith(github.repository, 'RF24Gateway') == false
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Checkout repo w/ history
        if: endsWith(github.repository, 'RF24Gateway')
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: get latest release version number
        id: fetch-repo
        run: |
          if [[ -f library.properties ]]; then
            echo "release=v$(awk -F "=" '/version/ {print $2}' library.properties)" >> "${GITHUB_OUTPUT}"
          else
            echo "release=$(git describe --tags | grep -o -E 'v[0-9]+\.[0-9]+\.[0-9]+')" >> "${GITHUB_OUTPUT}"
          fi

  build:
    runs-on: ubuntu-latest
    needs: [get-info]
    steps:
      # - name: install Doxygen static libclang deps
      #   run: sudo apt-get install libclang1-16 libclang-cpp16

      - name: Install Doxygen
        env:
          DOXYGEN_VERSION: ${{ inputs.doxygen-version }}
        run: |-
          mkdir .doxygen && cd .doxygen
          curl -L "https://github.com/doxygen/doxygen/releases/download/Release_${DOXYGEN_VERSION//./_}/doxygen-${DOXYGEN_VERSION}.linux.bin.tar.gz" --output ${{ runner.temp }}/doxygen.tar.gz
          cd ${{ runner.temp }}
          gunzip doxygen.tar.gz
          tar xf doxygen.tar
          cd "doxygen-${DOXYGEN_VERSION}"
          sudo make install

      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Overwrite doxygen tags
        working-directory: docs
        env:
          LIB_VERSION: ${{ needs.get-info.outputs.lib-version }}
        run: |-
          touch doxygenAction
          echo "PROJECT_NUMBER = ${LIB_VERSION}" >> doxygenAction
          echo -e "\n@INCLUDE = doxygenAction" >> Doxyfile

      - run: doxygen
        working-directory: docs

      - name: Upload github pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: ${{ github.event.repository.name }}_doxygen_docs
          path: ${{ github.workspace }}/docs/html
