name: Validate and deploy PlatformIO

on:
  workflow_call:

permissions: {}

jobs:
  deploy-platformio-asset:
    runs-on: ubuntu-latest
    permissions:
      # needed to upload release assets
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: PIO_pkg_${{ github.event.repository.name }}
          path: artifacts

      - name: Upload Release assets
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: |- 
          files=$(ls artifacts/PlatformIO*.tar.gz)
          gh release upload "${TAG}" ${files}
