name: Deploy Docs

on:
  workflow_call:

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
        with:
          artifact_name: ${{ github.event.repository.name }}_doxygen_docs
