name: Validate and deploy PlatformIO
on:
  workflow_call:
    inputs:
      deploy-release:
        required: false
        type: boolean
    secrets:
      PLATFORMIO_AUTH_TOKEN:
        required: false

jobs:
  validate_lib_json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: get lib info
        id: lib-info
        run: |
          echo "name=$(echo ${{ github.repository }} | sed -e 's;.\+/;;')" >> $GITHUB_OUTPUT
          echo "release=$(awk -F "=" '/version/ {print $2}' library.properties)" >> $GITHUB_OUTPUT

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: package lib
        run: pio package pack -o PlatformIO-${{ steps.lib-info.outputs.name }}-${{ steps.lib-info.outputs.release }}.tar.gz

      - name: Save artifact
        uses: actions/upload-artifact@v5
        with:
          name: PIO_pkg_${{ steps.lib-info.outputs.name }}
          path: PlatformIO*.tar.gz

      - name: Upload Release assets
        if: inputs.deploy-release
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: "PlatformIO*.tar.gz"

      - name: upload package to PlatformIO Registry
        if: inputs.deploy-release
        # PIO lib packages cannot be re-published under the same tag
        env:
          PLATFORMIO_AUTH_TOKEN: ${{ secrets.PLATFORMIO_AUTH_TOKEN }}
        run: pio package publish --owner nrf24 --non-interactive
