name: Validate and deploy PlatformIO

on:
  workflow_call:
    inputs:
      deploy-release:
        required: false
        type: boolean
    secrets:
      PLATFORMIO_AUTH_TOKEN:
        required: false

permissions: {}

jobs:
  validate_lib_json:
    runs-on: ubuntu-latest
    permissions:
      # needed to upload release assets
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: get lib info
        id: lib-info
        run: |-
          echo "release=$(awk -F "=" '/version/ {print $2}' library.properties)" >> "${GITHUB_OUTPUT}"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install PlatformIO
        run: |-
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: package lib
        env:
          PIO_PKG_NAME: PlatformIO-${{ github.event.repository.name }}-${{ steps.lib-info.outputs.release }}.tar.gz
        run: pio package pack -o "${PIO_PKG_NAME}"

      - name: Save artifact
        uses: actions/upload-artifact@v5
        with:
          name: PIO_pkg_${{ github.event.repository.name }}
          path: PlatformIO*.tar.gz

      - name: Upload Release assets
        if: inputs.deploy-release && startsWith(github.ref, 'refs/tags/')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: |- 
          files=$(ls PlatformIO*.tar.gz)
          gh release upload "${TAG}" ${files}

      - name: Upload package to PlatformIO Registry
        if: inputs.deploy-release
        # PIO lib packages cannot be re-published under the same tag
        env:
          PLATFORMIO_AUTH_TOKEN: ${{ secrets.PLATFORMIO_AUTH_TOKEN }}
        run: pio package publish --owner nrf24 --non-interactive
